<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<div class="container">
    <ul class="nav bg-dark">
        <li class="nav-item">
            <img th:src="@{/spring-img.png}" style="width:3em; padding:7px" class="px-auto">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">Docente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grupo">Grupos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/libro">Libros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/materia}">Materias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
    </ul>

    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>